.ci-inline-validation-text
{
    position: absolute;
    top: 6px;
    right: 7px;
    font-size: 13pt;
}

.ci-fg-red
{
    color: red;
}

.ci-label
{
    margin-right:4px;
}

.ci-input
{
    display: inline-block;
    position: relative;
    border: 1px solid black;
    margin-right:4px;
}

    .ci-input input
    {
        border-width:0px;
        margin: 4px;
        outline: none
    }
    
    .ci-input.ci-input-error
    {
        border-color:red;
    }